@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap");
@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Mozilla Text", Helvetica, sans-serif;
  --font-mono: "Mozilla Text", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Mozilla Text", Helvetica, sans-serif;
}
